<h1>Pirate Name: <%= @pirate.name %></h1><br>
<h2>Pirate Weight: <%= @pirate.weight %></h2><br>
<h2>Pirate Height: <%= @pirate.height %></h2><br>


<h2>Ship Name: <%= pirate[ships][][name] %></h2>
<h2>Ship Type: <%= pirate[ships][][type] %></h2>
<h2>Ship Booty: <%= pirate[ships][][booty] %></h2>


<h2></h2>
